{% extends "base.html" %}

{% load models_extra %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                {{ client.profile.display_name }}
                {% if client.is_bot %}
                <i class="fa fa-android"></i>
                {% endif %}
                <small>{{ client.id }}</small>
            </h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    {% include "messages.html" %}

    <!-- /.row -->
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-user"></i> {{ client.profile.display_name }}
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                    {% for item in client.profile.data.all %}
                        <dt>{{ item.type }}</dt>
                        <dd>{{ item.value }}</dd>
                    {% endfor %}
                    </dl>
                </div>
                <div class="panel-footer">
                    <a href="{% url 'delete_client' client.id %}?return=show" class="btn btn-sm btn-danger">
                        <i class="fa fa-trash"></i> Delete
                    </a>
                    <a href="{% url 'reset_client' client.id %}?return=show" class="btn btn-sm btn-warning">
                        <i class="fa fa-bomb"></i> Reset
                    </a>
                    <a href="{% url 'send_notification' %}?client={{ client.id }}&template=sync&return=client" class="btn btn-sm btn-info">
                        <i class="fa fa-refresh"></i> Sync
                    </a>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-mobile"></i> Notification Key
                </div>
                <div class="panel-body">
                    <div class="input-group">
                        <!-- Target -->
                        <input class="form-control" id="firebase-token" value="{{ client.token }}">
                        <div class="input-group-btn">
                            <!-- Trigger -->
                            <button class="btn btn-default btn-copy" data-clipboard-target="#firebase-token">
                                <i class="fa fa-clipboard"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <a class="btn btn-sm btn-info" href="{% url 'send_notification' %}?client={{ client.id }}&return=client">
                        <i class="fa fa-envelope"></i> Send Notification
                    </a>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-key"></i> Secret
                </div>
                <div class="panel-body">
                    <div class="input-group">
                        <!-- Target -->
                        <input class="form-control" id="client-secret" value="{{ client.secret }}">
                        <div class="input-group-btn">
                            <!-- Trigger -->
                            <button class="btn btn-default btn-copy" data-clipboard-target="#client-secret">
                                <i class="fa fa-clipboard"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">

            <ul class="nav nav-pills">
                <li {% if tab_name == 'contacts' %}class="active"{% endif %}>
                    <a href="?tab=contacts"><i class="fa fa-users"></i> Contacts</a>
                </li>
                <li {% if tab_name == 'friends' %}class="active"{% endif %}>
                    <a href="?tab=friends"><i class="fa fa-heart"></i> Friends</a>
                </li>
                <li {% if tab_name == 'games' %}class="active"{% endif %}>
                    <a href="?tab=games"><i class="fa fa-gamepad"></i> Games</a>
                </li>
                <li {% if tab_name == 'syncs' %}class="active"{% endif %}>
                    <a href="?tab=syncs"><i class="fa fa-refresh"></i> Syncs</a>
                </li>
                <li {% if tab_name == 'energy' %}class="active"{% endif %}>
                    <a href="?tab=energy"><i class="fa fa-bolt"></i> Energy</a>
                </li>
            </ul>
                </div>
                <div class="panel-body">
                {% if tab_name == 'contacts' %}
                    {% include 'backend/clients/show_contacts.html' with client=client %}
                {% elif tab_name == 'friends' %}
                    {% include 'backend/clients/show_friends.html' with client=client %}
                {% elif tab_name == 'games' %}
                    {% include 'backend/clients/show_games.html' with client=client %}
                {% elif tab_name == 'syncs' %}
                    {% include 'backend/clients/show_syncs.html' with client=client %}
                {% elif tab_name == 'energy' %}
                    {% include 'backend/clients/show_energy.html' with client=client %}
                {% else %}
                    <strong>Unkown tab</strong>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function () {
        new Clipboard('.btn-copy');
    });
</script>
{% endblock %}