.table>tbody>tr>td, .table>tbody>tr>th,
.table>tfoot>tr>td, .table>tfoot>tr>th,
.table>thead>tr>td, .table>thead>tr>th {
    vertical-align: middle;
}

div.row-spaced {
    margin-bottom: 15px;
}

.actions-cell {
    text-align: center;
}

.panel-heading h2 {
    margin: 0;
}