<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            {% comment %}
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                </div>
                <!-- /input-group -->
            </li>
            {% endcomment %}
            <li>
                <a href="{% url 'dashboard' %}"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
            <li>
                <a href="{% url 'clients' %}"><i class="fa fa-users fa-fw"></i> Clients</a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{% url 'syncs' %}"><i class="fa fa-refresh fa-fw"></i> Syncs</a>
                    </li>
                    <li>
                        <a href="{% url 'notifications' %}"><i class="fa fa-comments fa-fw"></i> Notifications</a>
                    </li>
                    <li>
                        <a href="{% url 'games' %}"><i class="fa fa-gamepad fa-fw"></i> Games</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="{% url 'endpoints' %}"><i class="fa fa-mobile fa-fw"></i> Endpoints</a>
            </li>
            <li>
                <a href="{% url 'notification_templates' %}"><i class="fa fa-comments-o fa-fw"></i> Notification Templates</a>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->