<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Players</th>
            <th>Rounds</th>
            <th>Status</th>
            <th>Date Started</th>
            <td width="150">&nbsp;</td>
        </tr>
    </thead>
    <tbody>
    {% for game in object_list %}
        <tr>
            <td>
                <a href="{% url 'show_game' game.id %}">{{ game.id }}</a>
            </td>
            <td>
                {% for player in game.player_set.all %}
                    <a href="{% url 'show_client' player.client_id %}">{{ player.client.profile.display_name }}</a>
                {% endfor %}
            </td>
            <td>{{ game.rounds_num }}</td>
            <td>{{ game.status }}</td>
            <td>{{ game.date_started }}</td>
            <td class="actions-cell">
                <a class="btn btn-default" href="{% url 'show_game' game.id %}">
                    <i class="fa fa-eye"></i> Show
                </a>
                <a class="btn btn-danger" href="{% url 'delete_game' game.id %}">
                    <i class="fa fa-trash"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>